.first_page {
    background-size: cover;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url("../assets/background/sushi\ \(2\).png");
    height: 100vh;

}
.container {
    display: flex;
    flex-direction: column;
}

.title {
    font-family: "brush";
    font-size: 55px;
    color: white;
    padding: 5vh;
    padding-top: 2vh;
}

.gallery_content {
    display: flex;
    flex-direction: row;
    align-items: center;
}



.gallery {
    width: 100%;
    align-items: center;

}

.gallery_container {
    display: flex;
    height: 20vh;
    margin: 0 auto;
    position: relative
}

.gallery_item {
    height: 60vh;
    width: 60vh;
    opacity: 0;
    position: absolute;
    z-index: 0;
    background-size: contain;

}

#previous_pic,
#next_pic {
    height: 50vh;
    width: 50vh;
    opacity: 0.7;
    z-index: 1;
}

#previous_pic {
    left: 30%;
    transform: translateX(-50%)
}

#current_pic {
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

#next_pic {
    left: 70%;
    transform: translateX(-50%);
}

.gallery_controls {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.description {
    color: white
}

.slide_button {
    height: 8vh;
    width: 8vh;
    cursor: pointer;
    align-items: center;
    margin: 3vh;
    user-select: none;
}

#prev_slide {
    transform: rotateY(180deg);
}
