header {
    display: flex;
    background-color: transparent;
    /**background-color: rgb(54, 80, 80);*/
    /*background-color: rgb(40, 55, 71);*/
    justify-content: space-between;
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;
    align-items: center;
    font-size: 16px;
    overflow: hidden;
    
   
    margin-bottom: 20px;
    
}
body {
    /*
    filter: blur(8px);
    -webkit-filter: blur(8px);
    */
    background-image: 
    linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),
    url("../assets/sushi-elegant-beautiful-fresh-japanese-culinary-art-free-photo.jpg")
    
}

.title {
    font-family: "paint";
    font-size: 55px;
    color:white;
    

}

@font-face{
    font-family: "paint";
    src:url("../assets/special_font/PAINP___.TTF") format('truetype')
}
