*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: "Playfair Display", serif;
}
body{
    overflow:hidden
}
.logo_div{
    padding:10px;
}
.logo{
    height: 60px;
    width:60px;
}
header{
    display: flex;
    background-color:rgb(40, 55, 71);
    justify-content: space-between;
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;
    align-items: center;
    font-size:16px;
}


nav{
    background-color:rgb(40, 55, 71);
    
}
nav ul{
    
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height:70px;
    
}
nav li a:hover, nav li button:hover{
    background-color: rgb(83, 133, 133);
}

.nav_links li a::after{
    content:'';
    height:2px;
    width:100%;
    background: black;
    display:block;
    position:absolute;
    bottom: -8px
}

nav li a{
    height:100%;
    padding: 0 30px;
    text-decoration: none;
    display:flex;
    align-items: center;
    color:white;
    transition: 0.2s;
}



nav li button{
    height:100%;
    padding: 0 30px;
    text-decoration: none;
    display:flex;
    align-items: center;
    color:white;
    background:none;
    border: none;
    cursor:pointer;
    transition: 0.5s;
    font-size:16px;
}

header .order{
    border:none;
    background-color: rgb(100, 158, 158);
    cursor:pointer;
    padding: 10px 25px 10px;
    transition:0.5s;
    color: white;
    font-size:16px;
    border-radius: 2px;
}

header .order:hover{
    background-color: rgb(129, 214, 214);
}

.title{
    width: 100%;
    align-items: center;
    display:flex;
    justify-content: center;
    background-color:white;
    padding-top: 30px;
    
}

.title p{
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    border-top: 1px solid rgb(129, 214, 214);
    border-bottom: 1px solid rgb(129, 214, 214);
}


.sidebar{
    position:fixed;
    top:0;
    right:0;
    height:100vh;
    width:250px;
    z-index:10;
    background-color:rgb(40, 55, 71, 0.8);
    backdrop-filter: blur(10px);
    display:flex;
    flex-direction: column;
    display:none;
    transition: 0.5s;
}

.sidebar li{
    list-style: none;
    height:70px;
    font-size: 16px;
    justify-content: flex-start;
    width:100%;
}
.sidebar li a{
    height:100%;
    padding: 0 30px;
    text-decoration: none;
    display:flex;
    align-items: center;
    color:white;
    transition: 0.2s;
}
.sidebar li button{
    height:100%;
    padding: 0 30px;
    text-decoration: none;
    display:flex;
    align-items: center;
    color:white;
    background:none;
    border: none;
    cursor:pointer;
    transition: 0.5s;
    font-size:16px;
}
.sidebar li{
    transition: 0.5s
}
.sidebar li:hover{
    background-color: rgb(83, 133, 133);
    
}

.side_icon{
    width:25px;
    height:25px;
    cursor: pointer;
    display:none
}

.cancel_icon{
    width:25px;
    height:25px;
    cursor: pointer;
    margin-top: 10px;
    margin-left:10px;
    margin-bottom: 10px;
}

@media(max-width: 800px){
    .hideOnMobile{
        display:none;
    }
    .side_icon{
        display:flex;
        width:30px;
        height:30px;
    }

    header{
        padding-left: 10px;
        padding-right: 20px;
    }
    .order{
        display: none;
    }
}