* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Playfair Display", serif;
}


body {
    overflow-y: scroll;
    animation: transitionIn_body 1s;
    z-index:10;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    background-color: transparent;
    /*background-color: rgb(54, 80, 80);*/
    /*background-color: rgb(40, 55, 71);*/
    justify-content: space-between;
    width: 100%;
    padding-left: 10px;
    padding-right: 20px;
    align-items: center;
    font-size: 16px;
    overflow: hidden;
    /*backdrop-filter: blur(70px);*/
    margin-bottom: 20px;
}


.container{
    
    text-align: center;
    align-items: center;
    display:flex;
    flex-direction: column;
    height:100vh;
    padding-left: 10px;
    padding-right: 10px;
    z-index:10;
    overflow: hidden;

}



.logo_pic{
    width:90px;
    height:90px;
    margin-top:5px;
    margin-bottom: 5px;
    
}
nav {
    /*background-color: rgb(54, 80, 80);*/
    background-color: transparent;
}

nav ul {

    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;

}

nav li {
    height: 75px;
    align-items: center;
    color: white;
    text-decoration: none;
    display: flex;
    

}

nav li a:hover,
nav li button:hover {
    background-color: rgb(83, 133, 133);
}

/*.nav_links li a::after {
    content: '';
    height: 2px;
    width: 100%;
    background: black;
    display: block;
    position: absolute;
    bottom: -8px
}*/

nav li a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
    cursor: pointer;
    transition: 0.2s;
    font-size: 20px;
    font-family: "Calibri";
}

nav li button {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    transition: 0.5s;
    font-size: 20px;
    font-family: "Calibri";
}

.side_icon{
    display:none;
    -webkit-tap-highlight-color: transparent;
}
.sidebar{
    position:fixed;
    top:0;
    right:-100vw;
    height:100vh;
    width: 57vw;
    z-index:20;
    background-color: rgba(19, 18, 18, 0.95)/*rgb(79, 154, 154) /*, 0.8)*/;
    backdrop-filter: blur(2px);
    flex-direction: column;
    display: flex;
    transition: 0.6s;
    box-shadow: -3px 0 5px rgba(0, 0, 0, 0.25);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.sidebar li{
    list-style: none;
    height:70px;
    font-size: 16px;
    justify-content: flex-start;
    width:100%;
    
}
.sidebar li a{
    height:100%;
    padding: 0 30px;
    text-decoration: none;
    display:flex;
    align-items: center;
    color:white;
    transition: 0.2s;
    font-family: "Calibri";
    /*font-family: "brush";*/
    font-size: 20px;
    -webkit-tap-highlight-color: transparent;
}
.sidebar li button{
    height:100%;
    padding: 0 30px;
    text-decoration: none;
    display:flex;
    align-items: center;
    color:white;
    background:none;
    border: none;
    cursor:pointer;
    transition: 0.5s;
    font-family: "Calibri";
    /*font-family: "brush";*/
    font-size: 20px;
    -webkit-tap-highlight-color: transparent;
}
.sidebar li{
    transition: 0.5s
}
.sidebar li:hover{
    background-color: rgb(83, 133, 133);
    
}

.side_icon{
    width:25px;
    height:25px;
    cursor: pointer;
    display:none
}

.cancel_icon{
    width:25px;
    height:25px;
    cursor: pointer;
    margin-top: 20px;
    margin-left:30px;
    margin-bottom: 30px;
    -webkit-tap-highlight-color: transparent;
}


@media(max-width: 700px){
    .logo_pic{
        padding-left: 0px;
        width:70px;
        height:70px;
    }
    header{
        padding-left: 10px;
        padding-right: 20px;
        margin-bottom: 0px;
    }
    nav{
        display:none;
    }
    .side_icon{
        display:flex;
        width:30px;
        height:30px;
        cursor: pointer;
    }

}

.separation_line {
    padding: 0.5vh;
    background-color: rgb(83, 133, 133);

}

.contact_header{
    padding-top: 8vh;
    color:white;
    font-family: "brush";
    font-size: 55px;
    padding-bottom:10vh;
    /*border-bottom: 1px solid white;*/
}

.contact_details{
    
    color:white;
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    padding-right: 10px;
    width:100vw;
    justify-content: center;
}

.left{
    width:100%;
    height:100%;
    align-items: center;
}
.right{
    width:100%;
    height:100%;
    align-items:center;
    display:none
}

.contact_section{
    padding-bottom: 3vh;
    
}
.section_header{
    font-family: "brush";
    font-size: 35px;
    padding-bottom: 1vh;
}
.section_value{
    font-size: 20px;
    font-family:"Calibri";
    pointer-events: none;
}
.element >a{
    text-decoration: none;
    color:inherit;
}
.second_page{
    text-align: center;
    align-items: center;
    overflow: hidden;
    display:flex;
    flex-direction: column;
    height:100vh;
    padding-left: 10px;
    padding-right: 10px;
    z-index:10;
    background-size: cover;
    background-image:
    linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),
    url("../assets/background/sushi-contact.png");
    background-position: center;
}

.credentials{
    left:0;
    bottom:-100vh;
    color:aliceblue;
    position: absolute;
    font-size: 14px;
    padding-left: 1vw;
    font-family: "Calibri";
    padding-bottom: 1vh;
}
.social{
    display:flex;
    flex-direction: row;
    justify-content: center;
    width:100%;
}
.social img{
    width: 25px;
    height:25px;
    margin-left: 10px;
    margin-right:10px;
    
}
.social a{
    -webkit-tap-highlight-color: transparent;
}



@keyframes transitionIn_body {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@font-face{
    font-family: "Calibri";
    src: url(../assets/special_font/calibri.ttf) format('truetype')
}

@font-face{
    font-family: "brush";
    src:url("../assets/special_font/Brushstrike\ trial.ttf") format('truetype')
}