* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Playfair Display", serif;
}

body {
    overflow: hidden;
}



header .order {
    border: none;
    background-color: rgb(111, 187, 187);
    cursor: pointer;
    padding: 10px 25px 10px;
    transition: 0.5s;
    font-size: 16px;
}

header .order:hover {
    background-color: rgb(129, 214, 214);
}
.container {
    display: flex;
    text-align: center;
    align-items: center;
    animation: transitionIn_container 0.75s
}



@keyframes transitionIn_container {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}