*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
body {
    z-index:10;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: 
    linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),
    url("../assets/maki-sushi-roll-with-cucumber-classic-japanese-cuisine-food-delivery-.jpg")
}

.container{
    animation: transitionIn_container 0.75s;
    text-align: center;
    align-items: center;
    overflow: hidden;
    display:flex;
    flex-direction: column;
    height:100vh;
    padding-left: 10px;
    padding-right: 10px;
    z-index:10;
    /*
    background-size: cover;
    background-position: center;
    background-image: 
    linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),
    url("../assets/maki-sushi-roll-with-cucumber-classic-japanese-cuisine-food-delivery-.jpg");
    */
}
header {
    display: flex;
    background-color: transparent;
    /*background-color: rgb(54, 80, 80);*/
    /*background-color: rgb(40, 55, 71);*/
    justify-content: space-between;
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;
    align-items: center;
    font-size: 16px;
    overflow: hidden;
    /*backdrop-filter: blur(70px);*/
    margin-bottom: 20px;
    
}

.logo{
    padding-top: 4vh;
    height: 20vh;
    
}

.text {
    color: white;
    padding-bottom: 3vh;
    padding-top: 10vh;
    align-items: center;
    
}

.text .title{
    font-family: "paint";
    padding-bottom: 2vh;
    font-size: 55px;
    
}
.text .motto{
    
    padding-bottom: 2vh;
    font-size: 25px;
    font-family: "paint";
    
    
}
.order {
    border: 3px solid rgb(61, 167, 167);
    /*background-color: rgb(61, 167, 167);*/
    background-color: transparent;
    cursor: pointer;
    padding: 10px 25px 10px;
    transition: 0.5s;
    border-radius: 2px;
    font-family: "calibri";
    font-size: 20px;
    color:white;
}

.order:hover {
    background-color: rgb(61, 167, 167);
}



.logo_pic{
    width:90px;
    height:90px;
    margin-top:5px;
    margin-bottom: 5px;
    
}
nav {
    /*background-color: rgb(54, 80, 80);*/
    background-color: transparent;
}

nav ul {

    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;

}

nav li {
    height: 75px;
    align-items: center;
    color: white;
    text-decoration: none;
    display: flex;
    

}

nav li a:hover,
nav li button:hover {
    background-color: rgb(83, 133, 133);
}

.nav_links li a::after {
    content: '';
    height: 2px;
    width: 100%;
    background: black;
    display: block;
    position: absolute;
    bottom: -8px
}

nav li a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
    cursor: pointer;
    transition: 0.2s;
    font-size: 20px;
    font-family: "calibri";
}

nav li button {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    transition: 0.5s;
    font-size: 20px;
    font-family: "calibri";
}

@font-face{
    font-family: "paint";
    src:url("../assets/PAINP___.TTF") format('truetype')
}
.side_icon{
    display:none;
}
.sidebar{
    position:fixed;
    top:0;
    right:0;
    height:100vh;
    width:100vw;
    z-index:20;
    background-color:rgb(40, 55, 71, 0.8);
    backdrop-filter: blur(10px);
    display:flex;
    flex-direction: column;
    display:none;
    transition: 0.5s;
}

.sidebar li{
    list-style: none;
    height:70px;
    font-size: 16px;
    justify-content: flex-start;
    width:100%;
}
.sidebar li a{
    height:100%;
    padding: 0 30px;
    text-decoration: none;
    display:flex;
    align-items: center;
    color:white;
    transition: 0.2s;
    font-family: "calibri";
    font-size: 20px;
}
.sidebar li button{
    height:100%;
    padding: 0 30px;
    text-decoration: none;
    display:flex;
    align-items: center;
    color:white;
    background:none;
    border: none;
    cursor:pointer;
    transition: 0.5s;
    font-family: "calibri";
    font-size: 20px;
}
.sidebar li{
    transition: 0.5s
}
.sidebar li:hover{
    background-color: rgb(83, 133, 133);
    
}

.side_icon{
    width:25px;
    height:25px;
    cursor: pointer;
    display:none
}

.cancel_icon{
    width:25px;
    height:25px;
    cursor: pointer;
    margin-top: 10px;
    margin-left:10px;
    margin-bottom: 10px;
}
@media(max-width: 800px){
    .logo_pic{
        padding-left: 0px;
        width:70px;
        height:70px;
    }
    header{
        padding-left: 10px;
        padding-right: 20px;
        margin-bottom: 0px;
    }
    nav{
        display:none;
    }
    .side_icon{
        display:flex;
        width:30px;
        height:30px;
        cursor: pointer;
    }
    .order{
        width: 60%;
        border: 2px solid rgb(61, 167, 167);
    }

}

@keyframes transitionIn_container {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}