.container{
    display:flex;
    flex-direction: column;
    height:100vh;

    background-size: cover;
    background-position: center;
    background-image: url("../assets/maki-sushi-roll-with-cucumber-classic-japanese-cuisine-food-delivery-.jpg");
}

.logo{
    padding-top: 4vh;
    height: 20vh;
    padding-bottom: 4vh;
}
/*.logo_pic {
    position: absolute;
    top: 12%;
    left: 50%;
    opacity: 1;
    z-index: 10;

}*/

.text {
    
    color: white;
    padding-bottom: 3vh;
    padding-top: 10vh;
}

.text .title{
    font-family: "paint";
    padding-bottom: 2vh;
    font-size: 50px;
}
.text .motto{
    padding-bottom: 2vh;
    font-size: 18px;
    font-family: arial;
}
.order {
    border: none;
    background-color: rgb(61, 167, 167);
    cursor: pointer;
    padding: 10px 25px 10px;
    transition: 0.5s;
    border-radius: 4px;
    font-family: sans-serif;
    font-size: 25px;
    color:white;
}

.order:hover {
    background-color: rgb(129, 214, 214);
}

header {
    display:flex;
    flex-direction: row;
}

.logo_pic{
    width:70px;
    height:70px;
    
}
.logo_top{
    padding-left:20px;
    padding-top:5px;
    padding-bottom: 5px;
}

@font-face{
    font-family: "paint";
    src:url("../assets/PAINP___.TTF") format('truetype')
}